{erl_opts,    [debug_info, warnings_as_errors]}.
{xref_checks, [undefined_function_calls,undefined_functions,locals_not_used,
               deprecated_function_calls,deprecated_functions]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.

{deps, [{prometheus, "4.2.0"}]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [dep_level_1_prometheus]}
]}.
